<nz-layout class="layout">
  <!--<nz-header>-->
    <!--<app-leader-topbar></app-leader-topbar>-->
  <!--</nz-header>-->
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item routerLink="./roomAccessEdit" >
          <span title><i nz-icon nzType="bank" nzTheme="outline"></i>按库房权限</span>
        </li>
        <li nz-menu-item routerLink="./staffAccessEdit" >
          <span title><i class="anticon anticon-user"></i>按人员权限</span>
        </li>

      </ul>
    </nz-sider>

    <router-outlet></router-outlet>

  </nz-layout>
</nz-layout>
