<nz-layout class="layout">
  <!--<nz-header>-->
    <!--<app-leader-topbar></app-leader-topbar>-->
  <!--</nz-header>-->
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item routerLink="./staffAccessEdit" >
          <span title><i class="anticon anticon-user"></i>查询人员权限</span>
        </li>
        <li nz-menu-item routerLink="./stafflist" >
          <span title><i class="anticon anticon-smile"></i>查询普通员工</span>
        </li>

      </ul>
    </nz-sider>

    <router-outlet></router-outlet>

  </nz-layout>
</nz-layout>
