<nz-layout class="layout">
  <!--<nz-header>-->
    <!--<app-leader></app-leader>-->
    <!--</nz-header>-->
    <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item>
          <span title>
            <i class="anticon anticon-home"></i>
            <span>库房列表</span>
          </span>
        </li>
        <li  (click)="isVisible = true;" nz-menu-item >
          <span title>
            <i class="anticon anticon-plus"></i>
            <span>添加库房</span>
          </span>
        </li>
      </ul>
    </nz-sider>
    <nz-modal (nzOnCancel)="isVisible = false"
              (nzOnOk)="addRoom()"
              [(nzVisible)]="isVisible"
              nzOkText="添加"
              nzTitle="库房信息">
      <form nz-form [formGroup]="roomForm" >
        <nz-form-item>
          <nz-form-label  nzFor="roomNo" nzSm="4" nzXs="24">编号</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24">
            <nz-input-number nzFor="roomNo" formControlName="roomNo" id="roomNo"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label  nzFor="roomName" nzSm="4" nzXs="24">库房名称</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24">
            <input formControlName="roomName" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label  nzFor="roomAddress" nzSm="4" nzXs="24">库房地址</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24">
            <input formControlName="roomAddress" nz-input type="password">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="roomContact" nzSm="4" nzXs="24">联系人</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24">
            <input formControlName="roomContact" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="roomTelephone" nzSm="4" nzXs="24">电话</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24">
            <input formControlName="roomTelephone" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="roomEmail" nzSm="4" nzXs="24">邮箱</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" [nzValidateStatus]="getFormControl('roomEmail')">
            <input formControlName="roomEmail" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-modal>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>库房管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>库房查询</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-input-group [nzSuffix]="suffixIconSearch" style="width:400px;left:885px;top:-36px;">
        <input #searchBox nz-input
               placeholder="输入库房编号进行搜索" type="text">
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
      <nz-table #nzTable  [nzPageSize]="10">
        <thead nz-thead>
        <tr>
          <th nz-th><span>库房编号</span></th>
          <th nz-th><span>库房名称</span></th>
          <th nz-th><span>库房地址</span></th>
          <th nz-th><span>联系人</span></th>
          <th nz-th><span>电话</span></th>
          <th nz-th><span>邮箱</span></th>
          <th nz-th><span>添加日期</span></th>
          <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr >
          <td nz-td></td>
          <td nz-td></td>
          <td nz-td></td>
          <td nz-td></td>
          <td nz-td></td>
          <td nz-td></td>
          <td nz-td></td>
          <td nz-td><a href="#">修改</a></td>
        </tr>
        </tbody>
      </nz-table>
    </nz-layout>
  </nz-layout>
</nz-layout>
