<nz-layout class="layout">
  <nz-header>
    <app-leader-topbar></app-leader-topbar>
  </nz-header>>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item>
          <span title>
            <i class="anticon anticon-home"></i>
            <span>库房列表</span>
          </span>
        </li>
        <li nz-menu-item>
          <span title>
            <i class="anticon anticon-plus"></i>
            <span>添加库房</span>
          </span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">Content</nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
