<nz-layout class="layout">
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item nzSelected="true">
          <span title><i class="anticon anticon-search"></i>型号查询</span>
        </li>
        <li nz-menu-item (click)="isVisible_add = true;">
          <span title><i class="anticon anticon-plus"></i>添加型号</span>
        </li>
      </ul>
    </nz-sider>
    <nz-modal (nzOnCancel)="isVisible_add = false"
              (nzOnOk)="addMod();"
              [(nzVisible)]="isVisible_add"
              nzOkText="添加"
              nzTitle="型号信息">
      <form nz-form [formGroup]="modAddForm" >
        <nz-form-item>
          <nz-form-label  nzFor="modelNo" nzSm="4" nzXs="24">型号编号</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <input formControlName="modelNo" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label  nzFor="modelName" nzSm="4" nzXs="24">型号名称</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <input formControlName="modelName" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label  nzFor="modelType" nzSm="4" nzXs="24">类别</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <input formControlName="modelType" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="modelNorm" nzSm="4" nzXs="24">规格</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <input formControlName="modelNorm" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="modelPrice" nzSm="4" nzXs="24">价格（元）</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <nz-input-number nzFor="modelPrice" formControlName="modelPrice" id="modelPrice"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-modal>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>型号管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>型号查询</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <div nz-col nzSpan="16"></div>
        <div nz-col nzSpan="8">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input [(ngModel)]="searchValue" placeholder="请输入型号编号" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" (click)="search()" nzSearch><i nz-icon type="search"></i></button>
          </ng-template>
        </div>
      </nz-content>
      <nz-content style="min-height: 20px;"></nz-content>
      <nz-table [nzShowPagination]="false"
                [nzLoading]="loading"
                [nzNoResult]="null"
                [nzData]="models">
        <thead nz-thead>
        <tr>
          <th nz-th><span>型号编号</span></th>
          <th nz-th><span>型号名称</span></th>
          <th nz-th><span>类别</span></th>
          <th nz-th><span>规格</span></th>
          <th nz-th><span>价格（元）</span></th>
          <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody-tr *ngFor="let data of models">
        <tr nz-tbody-tr >
          <td nz-td>{{data.modelNo}}</td>
          <td nz-td>{{data.modelName}}</td>
          <td nz-td>{{data.modelType}}</td>
          <td nz-td>{{data.modelNorm}}</td>
          <td nz-td>{{data.modelPrice}}</td>
          <td nz-td (click)="isVisible_modify = true;modModSet(data);modelNoTemp = data.modelNo"><a>修改</a></td>
        </tr>
        </tbody>
      </nz-table>
      <nz-pagination [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="findAll()" (nzPageSizeChange)="findAll(true)" nzShowQuickJumper nzShowSizeChanger>
      </nz-pagination>
      <nz-modal (nzOnCancel)="isVisible_modify = false"
                (nzOnOk)="modMod()"
                [(nzVisible)]="isVisible_modify"
                nzOkText="修改"
                nzTitle="型号信息">
        <form nz-form [formGroup]="modModForm" >
          <nz-form-item>
            <nz-form-label  nzFor="modelType" nzSm="4" nzXs="24">类别</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input formControlName="modelType" nz-input type="text">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="modelNorm" nzSm="4" nzXs="24">规格</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input formControlName="modelNorm" nz-input type="text">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="modelPrice" nzSm="4" nzXs="24">价格(元)</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <nz-input-number nzFor="modelPrice" formControlName="modelPrice" id="modelPrice"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-modal>
    </nz-layout>
  </nz-layout>
</nz-layout>

