<nz-layout class="layout">
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item routerLink="/ApplicationManage" nzSelected="true">
          <span title><i class="anticon anticon-search"></i>申请单查询</span>
        </li>
        <li nz-menu-item routerLink="/ApplicationManage/model">
          <span title><i class="anticon anticon-plus"></i>设备申请</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>申请管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>申请单查询</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <div nz-col nzSpan="16"></div>
        <div nz-col nzSpan="8">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input [(ngModel)]="searchValue" placeholder="请输入申请单编号" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" (click)="search()" nzSearch><i nz-icon type="search"></i></button>
          </ng-template>
        </div>
      </nz-content>
      <nz-content style="min-height: 20px;"></nz-content>
      <nz-table  [nzData]=applys
                 [nzShowPagination]="false"
                 [nzLoading]="loading"
                 [nzNoResult]="null">
        <thead nz-thead>
        <tr>
          <th nz-th><span>申请单编号</span></th>
          <th nz-th><span>申请类型</span></th>
          <th nz-th><span>理由</span></th>
          <th nz-th><span>申请日期</span></th>
          <th nz-th><span>状态</span></th>
          <th nz-th><span>更新日期</span></th>
          <th nz-th><span>审查说明</span></th>
          <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody-tr *ngFor="let data of applys">
        <tr nz-tbody-tr >
          <td nz-td><a routerLink="/ApplicationManage/detail" [queryParams]="{id:data.applyNo}">{{data.applyNo}}</a></td>
          <td nz-td>{{data.applyType}}</td>
          <td nz-td>
            <nz-popover [nzTitle]="'理由:'">
              <a nz-popover>详细内容</a>
              <ng-template #nzTemplate>
                {{data.applyReason}}
              </ng-template>
            </nz-popover>
          </td>
          <td nz-td>{{data.applyDate|date:'yyyy-M-d'}}</td>
          <td nz-td>{{data.applyState}}</td>
          <td nz-td>{{data.applyUpdateDate|date:'yyyy-M-d'}}</td>
          <td nz-td>
            <nz-popover [nzTitle]="'审查说明:'">
              <a nz-popover>详细内容</a>
              <ng-template #nzTemplate>
                {{data.applyUpdateInfo}}
              </ng-template>
            </nz-popover>
          </td>
          <td nz-td (click)="isVisible_modify = true;modApplySet(data);applyNoTemp = data.applyNo"><a>修改</a></td>
        </tr>
        </tbody>
      </nz-table  >
      <nz-pagination [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="findAll()" (nzPageSizeChange)="findAll(true)" nzShowQuickJumper nzShowSizeChanger>
      </nz-pagination>
      <nz-modal (nzOnCancel)="isVisible_modify = false"
                (nzOnOk)="modApply()"
                [(nzVisible)]="isVisible_modify"
                nzOkText="修改"
                nzTitle="申请单信息">
        <form nz-form [formGroup]="applyModForm" >
          <nz-form-item>
            <nz-form-label  nzFor="applyType" nzSm="4" nzXs="24">申请类型</nz-form-label>
            <nz-form-control nz-col [nzSpan]="10">
              <nz-select formControlName="applyType" [nzSize]="'default'">
                <nz-option [nzLabel]="'普通'" [nzValue]="'普通'"></nz-option>
                <nz-option [nzLabel]="'急需'" [nzValue]="'急需'"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label  nzFor="applyReason" nzSm="4" nzXs="24">理由</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <textarea formControlName="applyReason" rows="5" cols="5" nz-input></textarea>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-modal>
    </nz-layout>
  </nz-layout>
</nz-layout>

