<nz-layout class="layout">
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item nzSelected="true">
          <span title><i class="anticon anticon-search"></i>厂商查询</span>
        </li>
        <li nz-menu-item (click)="isVisible_add = true;">
          <span title><i class="anticon anticon-plus"></i>添加厂商</span>
        </li>
      </ul>
    </nz-sider>
    <nz-modal (nzOnCancel)="isVisible_add = false"
              (nzOnOk)="addManu();"
              [(nzVisible)]="isVisible_add"
              nzOkText="添加"
              nzTitle="厂商信息">
      <form nz-form [formGroup]="manuAddForm" >
        <nz-form-item>
          <nz-form-label  nzFor="firmNo" nzSm="4" nzXs="24">厂商编号</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <nz-input-number nzFor="firmNo" formControlName="firmNo" id="firmNo"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label  nzFor="firmName" nzSm="4" nzXs="24">厂商名称</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <input formControlName="firmName" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label  nzFor="firmAddress" nzSm="4" nzXs="24">厂商地址</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <input formControlName="firmAddress" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="firmContact" nzSm="4" nzXs="24">联系人</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <input formControlName="firmContact" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="firmTelephone" nzSm="4" nzXs="24">电话</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <input formControlName="firmTelephone" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="firmEmail" nzSm="4" nzXs="24">邮箱</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
            <input formControlName="firmEmail" nz-input type="text">
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-modal>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>厂商管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>厂商查询</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-input-group [nzSuffix]="suffixIconSearch" style="width:400px;left:885px;top:-36px;">
        <input #searchBox (input)="searchTerms.next(searchBox.value)" nz-input
               placeholder="输入厂商编号进行搜索" type="text">
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
      <nz-table [nzData]="manuData"
                (nzPageIndexChange)="findAll()"
                (nzPageSizeChange)="findAll(true)"
                [(nzPageIndex)]="pageIndex"
                [nzPageSize]="pageSize"
                [nzFrontPagination]="false"
                [nzLoading]="loading"
                [nzTotal]="total">
        <thead nz-thead>
          <tr>
            <th nz-th><span>厂商编号</span></th>
            <th nz-th><span>厂商名称</span></th>
            <th nz-th><span>厂商地址</span></th>
            <th nz-th><span>联系人</span></th>
            <th nz-th><span>电话</span></th>
            <th nz-th><span>邮箱</span></th>
            <th nz-th><span>添加日期</span></th>
            <th nz-th><span>操作</span></th>
          </tr>
        </thead>
        <tbody nz-tbody-tr *ngFor="let data of manuData">
          <tr nz-tbody-tr >
            <td nz-td>{{data.firmNo}}</td>
            <td nz-td>{{data.firmName}}</td>
            <td nz-td>{{data.firmAddress}}</td>
            <td nz-td>{{data.firmContact}}</td>
            <td nz-td>{{data.firmTelephone}}</td>
            <td nz-td>{{data.firmEmail}}</td>
            <td nz-td>{{data.firmAddDate|date:'yyyy-M-d'}}</td>
            <td nz-td (click)="isVisible_modify = true;modManuSet(data)"><a>修改</a></td>
          </tr>
        </tbody>
      </nz-table>
      <nz-modal (nzOnCancel)="isVisible_modify = false"
                (nzOnOk)="modManu()"
                [(nzVisible)]="isVisible_modify"
                nzOkText="修改"
                nzTitle="厂商信息">
        <form nz-form [formGroup]="manuModForm" >
          <nz-form-item>
            <nz-form-label  nzFor="firmNo" nzSm="4" nzXs="24">厂商编号</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <nz-input-number nzFor="firmNo" formControlName="firmNo" id="firmNo"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label  nzFor="firmName" nzSm="4" nzXs="24">厂商名称</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input formControlName="firmName" nz-input type="text">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label  nzFor="firmAddress" nzSm="4" nzXs="24">厂商地址</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input formControlName="firmAddress" nz-input type="password">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="firmContact" nzSm="4" nzXs="24">联系人</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input formControlName="firmContact" nz-input type="text">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="firmTelephone" nzSm="4" nzXs="24">电话</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input formControlName="firmTelephone" nz-input type="text">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="firmEmail" nzSm="4" nzXs="24">邮箱</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input formControlName="firmEmail" nz-input type="text">
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-modal>
    </nz-layout>
  </nz-layout>
</nz-layout>

