<nz-table #nzTable [nzDataSource]="firms" [nzPageSize]="10">
  <thead nz-thead>
  <tr>
    <th nz-th><span>厂商编号</span></th>
    <th nz-th><span>厂商名称</span></th>
    <th nz-th><span>厂商地址</span></th>
    <th nz-th><span>联系电话</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of firms">
    <td nz-td><a>{{data.firmNo}}</a></td>
    <td nz-td>{{data.firmName}}</td>
    <td nz-td>{{data.firmAddress}}</td>
    <td nz-td>
            <span>
              <a href="#">Action 一 {{data.firmTelephone}</a>
              <span nz-table-divider></span>
              <a href="#">Delete</a>
              <span nz-table-divider></span>
              <nz-dropdown>
                <a class="ant-dropdown-link" nz-dropdown>
                  More actions <i class="anticon anticon-down"></i>
                </a>
                <ul nz-menu>
                  <li nz-menu-item>
                    <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">1st menu item</a>
                  </li>
                  <li nz-menu-item>
                    <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">2nd menu item</a>
                  </li>
                  <li nz-menu-item>
                    <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">3rd menu item</a>
                  </li>
                </ul>
              </nz-dropdown>
            </span>
    </td>
  </tr>
  </tbody>
</nz-table>

<!--
<nz-layout class="layout">
  <nz-header>
    <app-staff-topbar></app-staff-topbar>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item>
          <span title><i class="anticon anticon-search"></i>厂商查询</span>
        </li>
        <li nz-menu-item>
          <span title><i class="anticon anticon-plus"></i>添加厂商</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>厂商管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>厂商查询</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-table #nzTable  [nzPageSize]="10">
        <thead nz-thead>
        <tr>
          <th nz-th><span>编号</span></th>
          <th nz-th><span>名称</span></th>
          <th nz-th><span>地址</span></th>
          <th nz-th><span>联系人</span></th>
          <th nz-th><span>电话</span></th>
          <th nz-th><span>邮箱</span></th>
          <th nz-th><span>添加日期</span></th>
          <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr >
          <td nz-td>a</td>
          <td nz-td>v</td>
          <td nz-td>z</td>
          <td nz-td>x</td>
          <td nz-td>c</td>
          <td nz-td>q</td>
          <td nz-td>w</td>
          <td nz-td><a href="#">修改</a></td>
        </tr>
        </tbody>
      </nz-table>
    </nz-layout>
  </nz-layout>
</nz-layout>
-->
