<nz-layout class="layout">
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <span title><i nz-icon type="user"></i>
            <a routerLink="DeviceQuery">设备查询</a>
          </span>
        </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <span title><i nz-icon type="notification"></i>
            <a routerLink="DeviceRegister">录入设备</a>
          </span>
        </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <span title><i nz-icon type="notification"></i>
            <a routerLink="DeviceRepair">报修设备</a>
          </span>
        </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <span title><i nz-icon type="notification"></i>
            <a routerLink="DeviceScrap">报废设备</a>
          </span>
        </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <span title><i nz-icon type="notification"></i>
            <a routerLink="DeviceAnalyse">设备统计</a>
          </span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-layout>
</nz-layout>
