<nz-header>
  <div class="logo"></div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
    <li nz-menu-item routerLink="/applicationCheck" routerLinkActive="active" [routerLinkActive]="['ant-menu-item-selected']">申请审核</li>
    <li nz-menu-item routerLink="/accessManage" routerLinkActive="active" [routerLinkActive]="['ant-menu-item-selected']">授权管理</li>
    <li nz-menu-item routerLink="/roomManage" routerLinkActive="active" [routerLinkActive]="['ant-menu-item-selected']" >库房信息管理</li>
  </ul>
</nz-header>
