<nz-layout class="layout">
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item nzSelected="true">
          <span title><i class="anticon anticon-search"></i>设备申请</span>
        </li>
        <li nz-menu-item (click)="isVisible_add = true;">
          <span title><i class="anticon anticon-plus"></i>申请单查询</span>
        </li>
      </ul>
    </nz-sider>

    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>申请管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>申请单查询</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-input-group [nzSuffix]="suffixIconSearch" style="width:400px;left:885px;top:-36px;">
        <input #searchBox (input)="searchTerms.next(searchBox.value)" nz-input
               placeholder="输入申请单编号进行搜索" type="text">
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
      <nz-table (nzPageIndexChange)="findAll()"
                (nzPageSizeChange)="findAll(true)"
                [(nzPageIndex)]="pageIndex"
                [nzPageSize]="pageSize"
                [nzFrontPagination]="false">
        <thead nz-thead>
        <tr>
          <th nz-th><span>申请单编号</span></th>
          <th nz-th><span>申请日期</span></th>
          <th nz-th><span>申请类型</span></th>
          <th nz-th><span>理由</span></th>
          <th nz-th><span>状态</span></th>
          <th nz-th><span>更新日期</span></th>
          <th nz-th><span>审查说明</span></th>
          <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody-tr *ngFor="let data of applyData">
        <tr nz-tbody-tr >
          <td nz-td>{{data.applyNo}}</td>
          <td nz-td>{{data.applyDate|date:'yyyy-M-d'}}</td>
          <td nz-td>{{data.applyType}}</td>
          <td nz-td>{{data.applyReason}}</td>
          <td nz-td>{{data.applyState}}</td>
          <td nz-td>{{data.applyUpdateDate|date:'yyyy-M-d'}}</td>
          <td nz-td>{{data.applyUpdateInfo}}</td>
          <td nz-td (click)="isVisible_modify = true;modApplySet(data)"><a>修改</a></td>
        </tr>
        </tbody>
      </nz-table>
      <nz-modal (nzOnCancel)="isVisible_modify = false"
                (nzOnOk)="modApply()"
                [(nzVisible)]="isVisible_modify"
                nzOkText="修改"
                nzTitle="申请单信息">
        <form nz-form [formGroup]="applyModForm" >
          <nz-form-item>
            <nz-form-label  nzFor="applyNo" nzSm="4" nzXs="24">申请单编号</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input  formControlName="applyNo" nz-input type="text">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label  nzFor="applyType" nzSm="4" nzXs="24">申请类型</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input formControlName="applyType" nz-input type="text">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label  nzFor="applyReason" nzSm="4" nzXs="24">理由</nz-form-label>
            <nz-form-control nzSm="18" nzXs="24" nzHasFeedback>
              <input formControlName="applyReason" nz-input type="text">
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-modal>
    </nz-layout>
  </nz-layout>
</nz-layout>

